.header-content-container {
	display: inline-block;
	width: calc(100% - 200px);
}

.header {
	background: url(img/heder.jpg)center center no-repeat;
	text-align: left;
	background-size: cover;/* резиновый фон*/
	height: 150px;
	border: 4px solid black;
}
.header-content-container * {
	margin:0px;
	padding:0px;
}
.content{
	background: url(img/content.jpg)center center no-repeat;
	color: #0026FF;
	text-align: left;
	background-size: cover;/* резиновый фон*/
	/*padding: */
	width: 100%;
    height: 340px;
    border: 4px solid black;
	margin-top: 10px;
}
.toggle-menu a{
	text-align:center;
	display:block;
	text-decoration:none;
	color:black;
	text-transform:uppercase;
	border-radius:10px;
	padding:18px 15px 15px 15px;
	margin-left:-11px;
	
	
}
.toggle-menu a:hover{
	background:#0d385dd9;
	color:#2aa59a;
	box-shadow:0 0 30px rgba(0,0,0,0.5);
	transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
}
.toggle-menu{
	display:block;
	position: absolute;
	margin-top:47px;
	margin-left:30px;
	box-shadow:0 0 20px rgba(0, 0, 0, 0.8);	
    
}

.toggle-menu.closed-menu{
	width:50px;
	height:50px;
	cursor:pointer;
	border: 2px solid black;
	border-radius:10px;
	background-color: #0026FF;
	
}

.toggle-menu.opened-menu{
	width:50px;
	height:50px;
	cursor:pointer;
	border: 2px solid #0026FF;
	border-radius:10px;
	background-color: black;
	color:#0026FF;
	
}
.app-container.opened-sidebar .sidebar {
	display: inline-block;
}

.app-container.closed-sidebar .sidebar {
	display: none;
	
}
.sidebar{
	font-family: 'Chakra Petch', sans-serif;
	display:block;
	width:120px;
	height:120px;
    border: 2px solid black;
    background-color: #0026FF;
    border-radius:10px;
    float: left;
}
.sidebar> ul li a{
display: block;
background: rgba(0,170,238,0.3);
border-radius:5px;
margin: 2px;
text-transform:uppercase;
color:black;
text-decoration:none
}
.sidebar *{
	margin:0;
	padding:0;
} 
.sidebar li a:hover{
	background:#0d385dd9;
	color:#2aa59a;
	box-shadow:0 0 30px rgba(8, 8, 8, 0.81);
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
}
.sidebar li ul{
	display: none;
}
.sidebar li:hover>ul{
	display:block;
}




.login-avatar{
	position:absolute;
	display:block;
	box-shadow:0 0 30px rgba(8, 8, 8, 0.81);
    transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    margin-left:250px;

}


.login-avatar.closed{
	width:140px;
	height:80px;
	cursor:pointer;
	border: 2px solid black;
	border-radius:10px;
	background-color: #0026FF;
	bottom: 315px;
	
}

.login-avatar.opened{
	width:140px;
	height:80px;
	cursor:pointer;
	border: 2px solid #0026FF;
	border-radius:10px;
	background-color: black;
	margin-left:300px;
	margin-bottom: 5px;


}
.avatar{

	background:url(img/undefinedUser.jpg);
	background-size: 60px;/* background:url(img/undefinedUser.jpg );
	                         background-size: contain;*/
	display:block;
	width:60px;
	height:60px;
	border: 2px solid black;
	border-radius:10px;
	margin-bottom: 5px;
	margin-top: 7px;
	margin-left: 5px;
	float: left;
}
.login{
	display:block;
	color: black;
	background:#0026FF;
	/*font: 50%*/
	width:60px;
	height:60px;
	border: 2px solid black;
	border-radius:10px;
	text-align: center;
	margin: 7px 5px 5px 70px;
	
}

.sidebarLoginAvatarOpened{
	position:absolute;
	font-family: 'Chakra Petch', sans-serif;
	display:inline-block;
	width:120px;
	height:120px;
    border: 2px solid black;
    background-color: #0026FF;
    border-radius:10px; 
    margin-top:250px;
    margin-left:-150px;
}
.sidebarLoginAvatarClosed{
	display:none;}

li{
list-style-type: none; 
}
.sidebarLoginAvatarOpened > ul li a{
display: block;
background: rgba(0,170,238,0.3);
border-radius:5px;
margin: 2px;
text-transform:uppercase;
color:black;
text-decoration:none
}
.sidebarLoginAvatarOpened > ul{
	margin:4px;
}
.sidebarLoginAvatarOpened *{
	margin:0;
	padding:0;
} 
.sidebarLoginAvatarOpened li a:hover{
	background:#0d385dd9;
	color:#2aa59a;
	box-shadow:0 0 30px rgba(8, 8, 8, 0.81);
    transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
}

.sidebarLoginAvatarClosed {
	display: none;
}

@keyframes homosexual-colors {
	0% {
		color: red;
	}
	15% {
		color: orange;
	}
	30% {
		color: yellow;
	}
	45% {
		color: green;
	}
	60% {
		color: lightblue;
	}
	80% {
		color: blue;
	}
	100% {
		color: blueviolet;
	}
 }

.potato-alex-text {
	position: fixed;
	left: 40%;
	top: 40%;
	font-size: 90px;
	font-weight: bold;
	animation: homosexual-colors .5s infinite linear;
}

